body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    
}

h2 {
    color: #656669;
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #2c2b30, #686869, #d8d6d8);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #070707;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}
.rounded-xl {
    border-radius: .75rem;
 }